body{
    display: grid;
    grid-template-areas: "header header header"
    "nav main ads"
    "footer footer footer";
    grid-template-columns: 15% 1fr 20%;
    grid-template-rows: 50px 1fr 60px;
    gap: 10px;
    height: 100vh;
    margin: 0;
}
header, footer, article, nav, main, div{
    padding: 20px;
    border: 1px solid red;

}
#header{
    grid-area: header;

}
#footer{
    grid-area: footer;

}
#main{
    grid-area: main;
}
#nav{
    grid-area: nav;
}
#ads{
    grid-area: ads;
}

.suction1{
    color: red;
    border: 1px solid red;
}
.suction2{
    color: red;
    border: 1px solid red;
}